.product-detail-container {
  margin-top: 25px;
  display: flex;
}

.product-grid {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between;
}

.image-gallery {
  position: relative;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}

.gallery-image {
  width: 70px;
  height: 80px;
  object-fit: fill !important;
  background-color: #fff !important;
  padding: 1px !important;
  cursor: pointer;
  display: flex;
  border-radius: 5px;
  object-fit: contain;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8);
  transition: box-shadow 0.2s, scale 0.2s;
}

.gallery-image.selected {
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.8);
  scale: 0.8;
}

.selected-image {
  height: 400px;
  width: 330px;
  object-fit: contain;
}

.images {
  display: flex;
  width: 100% !important;
  height: 510px !important;
}

.gallery-style {
  display: flex !important;
  flex-direction: column !important;
}

.left-side {
  border: none !important;
  box-shadow: none !important;
  margin-left: 20px !important;
  margin-right: 10px !important;
}

.right-side {}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #232F3E;
}

.product-description p {
  font-size: 13px !important;
  margin-bottom: 5px;
}

.divider {
  margin: 15px 0px;
}

.middle-side {
  height: 500px !important;
}

.features {
  padding-left: 0 !important;
}

.features ul {
  list-style-type: none !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 0 !important;
}

.features ul li {
  width: 80px;
  margin: 10px;
  text-align: center;
}

.features p {
  font-size: 2px;
}

.features .icon {
  color: #232F3E !important;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px rgba(99, 99, 99, .5);
  background: #fff;
  height: 25px;
  width: 25px;
  cursor: pointer;
  transition: box-shadow 0.3s, color 0.3s, background 0.3s;
}

.features .icon:hover {
  box-shadow: 0px 0px 12px rgba(99, 99, 99, .5);
  color: #fff !important;
  background: #232F3E;
}

.addTocart {
  background: #232F3E;
  padding: 10px 15px;
  margin: 0 !important;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #fff;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
}

.product-info p {
  color: blue !important;
  cursor: pointer !important;
  font-size: 10px;
  margin: 5px 0px 15px 0px;
}

.size {
  padding: 5px 10px !important;
}

.price {
  display: flex;
  font-weight: bold;
}

.rupees-symbol {
  font-size: 15px;
  margin-top: 2px;
  font-weight: lighter;
  margin-right: 1px;
}

.place-order-btn {
  width: 100% !important;
  background: #232F3E !important;
  color:#fff !important;
}

.bordered-table {
  border-collapse: collapse;
  width: 100%;
}

.bordered-table th,
.bordered-table td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}